.App {
  /*text-align: center;*/
  font-family: 'Rubik', sans-serif;
  padding: 15%;

}

.grid-container {
  display: grid;
  grid-template-columns: 456px 456px;
  
}

.list1,
.list2 {
  width: 390px;
  list-style-type: none;

}

.list2 span {color: rgb(185, 185, 185);}

h2 {color: rgb(185, 185, 185);}

.span {border-bottom: 1px solid;}

.input {
  width: 390px;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 7px;
  align-self: center;
  border-bottom: 1px solid;
  
}

.element {
  width: 315px;
  padding: 7px;
}

.element input, span {margin-left: 1em;}

.addBtn {

  height: 20px;
  width: 20px;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-image: url(../src/assets/agregar.svg);
  background-repeat: no-repeat;
    
}

.delBtn {
  height: 20px;
  width: 20px;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-image: url(../src/assets/borrar.svg);
  background-repeat: no-repeat;
} 

.moveBtn {
  height: 20px;
  width: 20px;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-image: url(../src/assets/Mover.svg);
  background-repeat: no-repeat;
}